.title-password {
   margin-top: 140px; 
   margin-bottom: "20px";
   font-size: x-large;
   font-weight: bold;
   color: #0A0102;
}

.adjust-footer {
        /* margin-inline-start:400px; */
        margin-block-end: -400px;
}

.dialogTitle {
        font-size: 20px;
    align-items: center;
    color: tomato;
    font-weight: bolder;
}